.desktop-nav
    display: flex
    justify-content: center
    list-style: none
    height: 60px
    width: 100%
    position: fixed
    margin: 0
    background: $white
    box-shadow: 0 1px 5px 0px $gray
    &-item
        text-transform: uppercase
        margin: 0 20px
        position: relative
        font-size: 16px
        margin-top: 13px
        margin-bottom: 12px
        &:after
            content: "/"
            position: absolute
            right: -25px
        &:last-child
            &:after
                content: ""
        a
            color: $black
            &:hover
                text-decoration: none
            &:active
                text-decoration: none
            &:visited
                text-decoration: none
            &:focus
                text-decoration: none
        &.active
            border-bottom: 3px solid $black