.details
    position: relative
    width: 90%
    height: 100%
    margin: auto
    display: flex
    flex-wrap: wrap
    align-items: stretch
    &__wrap
        position: relative
        display: flex
        flex-wrap: nowrap
        top: 50px
        padding-left: 70px
    &__item
        flex-basis: 25%
        margin-top: 100px
        &-img
            background-size: contain
            background-position: 2% 50%
            background-repeat: no-repeat
            height: 70px
            &-date
                background-image: url(../img/details-ico-1-1.png)
            &-idea
                background-image: url(../img/details-ico-2-1.png)
            &-yacht
                background-image: url(../img/details-ico-3-1.png)
            &-price
                background-image: url(../img/details-ico-4-1.png)
        &-title
            margin-top: 5px
            font-size: 32px
            text-transform: uppercase
            color: #9900cc
            font-weight: bold
        &-text
            margin-top: 15px
            font-size: 17px
            font-weight: bold
            color: $black
            line-height: 1.15
            padding-right: 20px
    &__content
        position: relative
        display: flex
        flex-wrap: nowrap
        .title
            @extend .details__item-title
            margin-bottom: 0
            font-size: 25px
        &-history
            padding: 0 70px
