.video-container
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    overflow: hidden
.descr
    width: 100vw
    height: 100vh
    &__title
        bottom: 40%
        position: absolute
        font-family: Arial
        padding-left: 30px
        font-size: 13px
        height: 35vh
        font-weight: bold
        text-transform: uppercase
        span
            display: block
            margin-top: 7px
            font-size: 6.5em
            opacity: 1
            line-height: 0.9em
            color: $white
            &.date-period
                font-size: 3em
            &.year
                opacity: 0.6
    &__video-btn
        width: 300px
        position: absolute
        text-align: center
        cursor: pointer
        left: 50%
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        transform: translateX(-50%)
        bottom: 25%
        span
            font-family: FuturaPT-Demi, Arial, sans-serif
            color: #fff
            text-transform: uppercase
            display: block
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
            font-size: 24px
            padding-top: 75px
            &:after
                content: ''
                display: block
                position: absolute
                transition: background-image .3s
                background-image: url(../img/video-btn.png)
                background-repeat: no-repeat
                background-size: cover
                background-position: 50% 50%
                top: 0
                left: 50%
                transform: translateX(-50%)
                width: 70px
                height: 70px
            &:hover:after
                background-image: url(../img/video-btn_hover.png)
    .mouse-scroll
        position: absolute
        left: 50%
        bottom: 30px
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        transform: translateX(-50%)
        display: block
        &__item
            display: block
            position: relative
            margin: 0 auto
            width: 34px
            height: 54px
            background: $white
            border-radius: 14px
            border: 2px $white solid
            box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.4)
            &:before
                content: ''
                position: absolute
                top: 8px
                left: 13px
                width: 4px
                height: 4px
                background: $aspid-blue
                border-radius: 4px
                animation: scrollanimation 2s infinite
        &__text
            color: $white
            text-transform: lowercase
            font-family: FuturaPT-Book, Arial, sans-serif
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
            font-size: 24px

@keyframes scrollanimation
    0%
        height: 4px
    50%
        height: 22px
    100%
        height: 4px