@mixin content-block-border
    border: 8px solid $tui-blue
    width: 80%
    padding: 50px 20px
    height: 510px

.content
    width: 100%
    height: 100vh
    position: relative
    display: flex
    flex-wrap: nowrap
    ul
        list-style: none
        padding: 0
        margin: 0
    h4
        text-transform: uppercase
        padding: 0
        margin: 0
    .two-blocks
        flex-basis: 50%
        padding-top: 200px
    .include
        text-align: right
        &__content
            @include content-block-border
            float: right
            border-right: none
            padding-right: 5px
    .no-include
        text-align: left
        &__content
            @include content-block-border
            float: left
            border-left: none 
            padding-left: 5px