$bg-images: atmosphere, cool_company, plaeboy_bunnies, vip_clubs, yachting_unlim, atmosphere, cool_company, plaeboy_bunnies, vip_clubs, yachting_unlim, atmosphere, cool_company, plaeboy_bunnies, vip_clubs, yachting_unlim
$item-number: 11
    
.owl-slider
    .owl-carousel
        display: block
        .owl-item
            div
                background-repeat: no-repeat
                background-size: 80% auto
                height: 90vh
                background-position: 50% 50%
            @each $bg-image in $bg-images
                &:nth-child(#{$item-number}) > div
                    background-image: url('../img/#{$bg-image}.jpg')
                $item-number: $item-number - 1