@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.yellow-text-color
	color: $yellow !important

@mixin section
	width: 100%
	height: 100vh
	position: relative
	z-index: 1

// ========================
//       BUTTON
// ========================

.fp-btn-container
	position: absolute
	bottom: 40px
	right: 70px

.btn
	padding: 0 15px
	border: 1px solid $black
	border-radius: 20px
	text-align: center
	outline: none
	background-color: $white
	text-transform: uppercase
	height: 40px
	line-height: 40px
	font-size: 15px
	min-width: 160px
	display: inline-block
	font-family: Casper-Bold, Arial, sans-serif
	transition: all .25s ease-in-out
.btn-tui-blue
	border-color: $yellow
	color: $yellow
	background-color: rgba($tui-dark-blue, 0.8)
a.btn:hover, a.btn:active, a.btn:focus
	text-decoration: none
	background-color: $yellow
	color: $tui-dark-blue

// ========================
//       END BUTTON
// ========================

#main
	nav
		z-index: 9
		position: fixed
		@import "desktopNav"

	header
		@include section
		@import "header"

	#official-yacht-week
		@include section
		height: auto
		background-color: $tui-blue
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.41)
		z-index: 2
		@import "official-yacht-week"

	#details-and-condition
		@include section
		background-image: url(../img/details-and-condidtions.jpg)
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		@import "details-and-condition"

	#slider
		@include section
		@import "slider"

	#price
		@include section
		@import "price"

@import "media" // Всегда в конце
